<div class="container">
    <div class="page-header">
    </div>
    <p class="lead">Products that need to be completed.</p>
        $this->table
    <ul class="pagination pull-right">
        $this->list_elements
    </ul>
</div class="page-body">
<div id="push"></div>
</div>