<nav id="footer" class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <p class="muted credit">
            <a href="https://se45g1ss14.fh-hagenberg.at/">Paragon Framework</a>
            {# TODO - can't be used yet (has to be called over a controller #}
            <!--(<a href="{{ versionLink }}"># {{ version }}</a>)-->
            <br/>
            &copy; 2014 <a href="https://se45g1ss14.fh-hagenberg.at/">Project Group 1</a>, a proud member of the <a
                    href="http://www.fh-hagenberg.at/" target="_blank">FH Hagenberg</a>
        </p>
    </div>
</nav>

<script src="http://bs.incureforce.com/js/jquery.min.js"></script>
<script src="http://bs.incureforce.com/js/bootstrap.min.js"></script>
</body>
</html>