<div id="footer">
    <div class="container">
        <p class="muted credit">
            <a href="https://se45g1ss14.fh-hagenberg.at/">Paragon Framework</a> (#&nbsp;<a href=".">BEEFBEEF</a>)
            <br />
            &copy; <?= date("Y"); ?> Project Group 1, a proud member of the <a href="http://www.fh-hagenberg.at/" target="_blank">FH Hagenberg</a>
        </p>
    </div>
</div>