{% include 'header.html.twig' %}
	<!-- <body> -->
		{{ test }}
		<div class="container">
			<p class="lead">Products that need to be completed.</p>
			<table class="table table-bordered">
				<thead>
				<tr>
					<th>SKU</th>
					<th>Product Name</th>
					<th>Product Type</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				{% for product in products %}
					<tr>
						<td>1</td>
						<td>{{ product.name }}</td>
						<td>{{ product.type }}</td>
						<td>{{ product.status }}</td>
						<!--<td><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Edit</td>-->
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									Actions <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Edit</a></li>
									<li><a href="#">Delete</a></li>
								</ul>
							</div>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<ul class="pagination pull-right">
				<li class="disabled"><a href="#">&laquo;</a></li>
				<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">&raquo;</a></li>

			</ul>
		</div>
	<!-- </body> -->
{% include 'footer.html.twig' %}