<tr>
    <td>1</td>
    <td>Mark</td>
    <td>Otto</td>
    <td>G</td>
    <!--<td><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Edit</td>-->
    $this->columns
</tr>