<td>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            $this->actions  <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            $this->items
        </ul>
    </div>
</td>