body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
}

#vcenter {
    position: absolute;
    top: 50%;
    height: 600px;
    margin-top: -300px;
    width: 100%;
}

#content {
    width: 400px;
    height: 600px;
    margin: 0 auto;
    padding: 30px;
    position: relative;
}

#login {
    max-width: 300px;
    width: 100%;
}
