<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Rectangle Events</title>
    <style>
        html, body, #map-canvas {
            height: 100%;
            margin: 0px;
            padding: 0px
        }
        #map-canvas { width: 400px; height: 300px; }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCd8mtg8rMF11DeChi_A-U4JhCCjfLMkkw"></script>
    <script>
        // This example adds a user-editable rectangle to the map.
        // When the user changes the bounds of the rectangle,
        // an info window pops up displaying the new bounds.

        var rectangle;
        var map;
        var infoWindow;

        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(44.5452, -78.5389),
                zoom: 9
            };
            map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);

            var bounds = new google.maps.LatLngBounds(
                    new google.maps.LatLng(44.490, -78.649),
                    new google.maps.LatLng(44.599, -78.443)
            );

            // Define the rectangle and set its editable property to true.
            rectangle = new google.maps.Rectangle({
                bounds: bounds,
                editable: true,
                draggable: true
            });

            rectangle.setMap(map);

            // Add an event listener on the rectangle.
            google.maps.event.addListener(rectangle, 'bounds_changed', showNewRect);

            // Define an info window on the map.
            infoWindow = new google.maps.InfoWindow();
        }
        // Show the new coordinates for the rectangle in an info window.

        /** @this {google.maps.Rectangle} */
        function showNewRect(event) {
            var ne = rectangle.getBounds().getNorthEast();
            var sw = rectangle.getBounds().getSouthWest();

            var contentString = '<b>Rectangle moved.</b><br>' +
                    'New north-east corner: ' + ne.lat() + ', ' + ne.lng() + '<br>' +
                    'New south-west corner: ' + sw.lat() + ', ' + sw.lng();

            // Set the info window's content and position.
            infoWindow.setContent(contentString);
            infoWindow.setPosition(ne);

            infoWindow.open(map);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
</head>
<body>
    <div id="map-canvas"></div>
    <form role="form" id="map-form">
        <div class="form-group">
            <label for="lat">Latitude</label>
            <input class="form-control" id="lat" type="text" name="lat" value="48.368263" />
            <label for="lng">Longitude</label>
            <input class="form-control" id="lng" type="text" name="lng" value="14.513487" />
        </div>
        <div class="form-group">
            <label for="lat">Latitude</label>
            <input class="form-control" id="lat" type="text" name="lat" value="48.368263" />
            <label for="lng">Longitude</label>
            <input class="form-control" id="lng" type="text" name="lng" value="14.513487" />
            <button class="btn btn-default" id="okbtn" onclick="getCoordinates(); return false;">OK</button>
        </div>
    </form>
</body>
</html>