<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Rectangle Events</title>
    <style type="text/css">
        html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
        #map-canvas { width: 800px; height: 500px; }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCd8mtg8rMF11DeChi_A-U4JhCCjfLMkkw"></script>
    <script>
        // This example adds a user-editable rectangle to the map.
        // When the user changes the bounds of the rectangle,
        // an info window pops up displaying the new bounds.

        var rectangle;
        var map;
        var infoWindow;

        function initialize() {
            var bounds = new google.maps.LatLngBounds(
              new google.maps.LatLng(48.168263, 14.313487), // sw
              new google.maps.LatLng(48.568263, 14.713487) // ne
            );
            var mapOptions = {
              center: bounds.getCenter(),
              zoom: 8
            };
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            rectangle = new google.maps.Rectangle({
                bounds: bounds,
                editable: true,
                draggable: true
            });
            rectangle.setMap(map);

            google.maps.event.addListener(rectangle, 'bounds_changed', updateCoordinates);
        }

        function updateCoordinates() {
            var sw = rectangle.getBounds().getSouthWest();
            var ne = rectangle.getBounds().getNorthEast();

            document.getElementById('latsw').value = sw.lat();
            document.getElementById('lngsw').value = sw.lng();
            document.getElementById('latne').value = ne.lat();
            document.getElementById('lngne').value = ne.lng();
        }

        function getCoordinates() {
            var latne = parseFloat(document.getElementById('latne').value);
            var lngne = parseFloat(document.getElementById('lngne').value);
            var latsw = parseFloat(document.getElementById('latsw').value);
            var lngsw = parseFloat(document.getElementById('lngsw').value);
            rectangle.setBounds(new google.maps.LatLngBounds(
                    new google.maps.LatLng(latsw, lngsw),
                    new google.maps.LatLng(latne, lngne)
            ));
            rectangle.setMap(map);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
    <div id="map-canvas"></div>
    <form role="form" id="map-form">
        <div class="form-group">
            <label for="latne">NE Latitude</label>
            <input class="form-control" id="latne" type="text" name="latne" value="48.368263" />
            <label for="lngne">NE Longitude</label>
            <input class="form-control" id="lngne" type="text" name="lngne" value="14.513487" />
        </div>
        <div class="form-group">
            <label for="latsw">SW Latitude</label>
            <input class="form-control" id="latsw" type="text" name="latsw" value="48.368263" />
            <label for="lngsw">SW Longitude</label>
            <input class="form-control" id="lngsw" type="text" name="lngsw" value="14.513487" />
            <button class="btn btn-default" id="okbtn" onclick="getCoordinates(); return false;">OK</button>
        </div>
    </form>
</body>
</html>