<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Geographic Polygon</title>
    <style type="text/css">
        html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
        #map-canvas { width: 800px; height: 500px; }
    </style>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCd8mtg8rMF11DeChi_A-U4JhCCjfLMkkw"></script>
    <script type="text/javascript">
        var polygon;
        var map;
        var formid;
        var groupids = new Array();

        function initialize() {
            var coords = [
                new google.maps.LatLng(25.774, -80.190),
                new google.maps.LatLng(18.466, -66.118),
                new google.maps.LatLng(32.321, -64.757)
            ];
            var mapOptions = {
                center: coords[0],
                zoom: 8
            };
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            polygon = new google.maps.Polygon({
                paths: coords,
                draggable: true,
                geodesic: true,
                map: map
            });
            updateCoordinates();

            google.maps.event.addListener(polygon, 'dragend', updateCoordinates);
        }

        function generateUUID() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
                return v.toString(16);
            });
        }

        function updateCoordinates() {
            for (i = 0; i < groupids.length; ++i) {
                var group = document.getElementById(groupids[i]);
                group.getElementById('lat').value = polygon[i].lat;
                group.getElementById('lng').value = polygon[i].lng;
            }
        }

        function getCoordinates() {
            for (var i = 0; i < groupids.length; ++i) {
                var group = document.getElementById(groupids[i]);
                polygon[i].lat = group.getElementById('lat').value;
                polygon[i].lng = group.getElementById('lng').value;
            }
        }

        function addCoordinate() {
            var uuid = generateUUID();
            groupids.push(uuid);
            var form = document.getElementById('map-form');
            var latlnggroup = document.createElement('div');
            latlnggroup.setAttribute('class', 'form-group');
            latlnggroup.setAttribute('name', 'latlngroup');
            var latlabel = document.createElement('label');
            latlabel.innerHTML = 'Latitude';
            var latinput = document.createElement('input');
            latinput.setAttribute('class', 'form-control');
            latinput.setAttribute('type', 'text');
            latinput.setAttribute('name', 'lat');
            var lnglabel = document.createElement('label');
            lnglabel.innerHTML = 'Langitude';
            var lnginput = document.createElement('input');
            lnginput.setAttribute('class', 'form-control');
            lnginput.setAttribute('type', 'text');
            lnginput.setAttribute('name', 'lng');
            var removebtn = document.createElement('button');
            removebtn.setAttribute('class', 'btn btn-default');
            removebtn.setAttribute('onclick', 'removeCoordinate(&quot;' + uuid + '\&quot;); return false;');
            removebtn.innerHTML = 'Remove';
            latlnggroup.appendChild(latlabel);
            latlnggroup.appendChild(latinput);
            latlnggroup.appendChild(lnglabel);
            latlnggroup.appendChild(lnginput);
            latlnggroup.appendChild(removebtn);
            form.appendChild(latlnggroup);
        }

        Element.prototype.remove = function() {
            this.parentElement.removeChild(this);
        }

        NodeList.prototype.remove = HTMLCollection.prototype.remove = function() {
            for (var i = 0, len = this.length; i < len; i++) {
                if (this[i] && this[i].parentElement) {
                    this[i].parentElement.removeChild(this[i]);
                }
            }
        }

        function removeCoordinate(uuid) {
            var index = groupids.indexOf(uuid);
            if (index > -1) groupids.splice(index, 1);
            document.getElementById(uuid).remove();
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
<div id="map-canvas"></div>
<form role="form" id="map-form">
    <div class="form-group" name="latlnggroup">
        <label>NE Latitude</label>
        <input class="form-control" type="text" name="lat" />
        <label>NE Longitude</label>
        <input class="form-control" type="text" name="lng" />
    </div>
    <div class="form-group">
        <button class="btn btn-default" id="addbtn" onclick="addCoordinate(); return false;">Add Coordinate</button>
        <button class="btn btn-default" id="okbtn" onclick="getCoordinates(); return false;">OK</button>
    </div>
</form>
</body>
</html>